.carousel-item img{
    max-height: 90vh !important;
    object-fit: cover !important;
    object-position: center !important;
    overflow: hidden !important;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }